<section id="contribute">
  <div class="container">
    <p>This manifesto is meant as a collaborative artwork. <a href="/whoweare.html">We</a> have initiated this process, now is your turn!</p>
    <button onclick="location.href='https://github.com/theinternetofwind/manifesto/wiki'" class="btn"><div class="layer">Yeah! Just click!</div>Contribute with your thoughts</button>
  </div>
</section>
