// Primary colors
$cyan       :   #59c3c3;
$green      :   #a2faa3;
$bluGrey    :   #88a0a8;
$purpleGrey :   #595358;
$silver     :   #857f74;

// Support colors
$grey       :   #7a7a7a;
$lightGrey  :   #cdcdcd;
$darkGrey   :   #202020;
$white      :   #fafafa;
