<section id="signatories">
  <div class="container">

    <h2>Latest Signatories</h2>

    <div class="signature">
      <p class="name">Andrea Paraggio</p>
      <p class="aim">Lorem ipsum sic dolor amet proficit. Melicuntur aliquoquis melis et sicuntur, fobias nemquam vecerit.</p>
    </div>

    <div class="clear"></div>

  </div>
</section>
