<section id="signatories">
  <div class="container">

    <h2>Latest Signatories</h2>

    <div id="signatures">
    </div>

    <a class="seeall" href="#">see all signatories</a>

  </div>
</section>
