<section id="whoinspiredus">
  <div class="container">
    <h2>Who inspired us</h2>

    <p>Many movements, people and thought leaders have inspired us.</p>
    <p>Here an <em>incomplete</em> and unordered list:</p>
    <p>Stromrebellen at
      <a href="https://www.ews-schoenau.de/" target="_blank">EWS</a>,

      Paul Gipe at <a href="http://wind-works.org/" target="_blank">Wind-Works</a>,

      Richard Stallman at <a href="http://www.fsf.org/" target="_blank">Free software foundation</a>,

      <a href="https://tools.ietf.org/html/rfc7282" target="_blank">Hummers</a> at <a href="https://www.ietf.org/" target="_blank">IETF</a>,

      Javier Ruiz Diaz at <a href="https://www.openrightsgroup.org/">Open Rights Group</a>,

      Jane Dennett Torpe at Onawi,

      Rufus Pollok at <a href="https://okfn.org/" target="_blank">Open Knowledge Foundation</a>,

      Preben Maegaard at <a href="http://www.folkecenter.net/" target="_blank">Nordic Folkcenter</a>,

      Hans Rosling at <a href="https://gapminder.org/" target="_blank">GapMinder</a>,

      Annie Leonard at <a href="http://storyofstuff.org/" target="_blank">The Story of Stuff</a>
  </div>
</section>
