/*-- Shared --*/
html {
  background: {
    color: $white;
  }
}

body {
  color: $purpleGrey;
}

section {
  padding: {
    top: 40px;
    bottom: 40px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: {
    family: 'Ubuntu', sans-serif;
  }
  padding: {
    top: 10px;
    bottom: 10px;
  }
}

h1 {
  @include t(2.6em, center);
  color: $cyan;
}

h2 {
  @include t(2.2em, center);
  color: $cyan;
  margin: {
    bottom: 15px;
  }
}

img {
  max-width: 100%;
}

a {
  color: $bluGrey;
}
