/*-- Shared --*/
html {
  background: {
    color: $white;
  }
}

body {
  color: $purpleGrey;
}

section {
  padding: {
    top: 40px;
    bottom: 40px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: {
    family: 'Ubuntu', sans-serif;
  }
  padding: {
    top: 10px;
    bottom: 10px;
  }
}

h1 {
  @include t(3em, center);
  color: $cyan;
}

h2 {
  @include t(2.2em, center);
  color: $cyan;
  margin: {
    bottom: 15px;
  }
}

img {
  max-width: 100%;
}

a {
  &:link, &:visited {
    text-decoration: none;
    color: $cyan;
    border-bottom: 3px dotted $cyan;
  }
  &:focus, &:hover {
    border-bottom: none;
  }
}

p {
  @include p(1.4em, center);
}

p.desc {
  @include p(1.8em, center);
  line-height: 1.4em;
  margin-bottom: 40px;
}

.pBold {
  font-weight: bold;
}

.citation-box {
  color: $silver;
  min-height: 50px;
  border-left: 6px solid $cyan;
  margin: {
    bottom: 36px;
    top: 46px;
    left: 40px;
    right: 40px;
  }
  padding-left: 26px;

  p.citation {
    @include p(1.2em, left);
    font-style: italic;
  }
  p.author {
    text-align: left;
    @include p(1em, left);
  }
}
