<section id="thankyou">
  <div class="container">
    <h1>Thank you for taking action!</h1>

    <p>We just sent you an email. Please check it out!</p>

    <p>In addition, please share this campaign with your friends and colleagues.</p>

    <script>
    $(function () {
      $('a img').hover( function () {
        $(this).attr('src', $(this).attr('src').replace(/\.png/, '_hover.png') );
      },function () {
        $(this).attr('src', $(this).attr('src').replace(/\_hover.png/, '.png') );
      });
    });
    </script>
    <div class="sharing grid_4 alpha"></div>

    <div class="sharing grid_1">
      <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://internetofwind.org&title=The%20Internet%20Of%20Wind%20Manifesto&summary=Join%20the%20Internet%20of%20Wind%20manifesto%21%20Check%20it%20out&source=TheInternetofWind" target="_blank"><img src="img/linkedin_share.png" /></a>
    </div>

    <div class="sharing grid_1">
      <a href="http://twitter.com/share?text=Join%20the%20Internet%20of%20Wind%20manifesto%21%20Check%20it%20out&url=http://internetofwind.org" target="_blank"><img src="img/twitter_share.png" /></a>
    </div>

    <div class="sharing grid_1">
      <a href="https://www.facebook.com/sharer/sharer.php?u=http://internetofwind.org" target="_blank"><img class="hoverswap" src="img/facebook_share.png" /></a>
    </div>

    <div class="people grid_1">
      <a href="mailto:Enter%20an%20email?subject=The%20Internet%20of%20Wind%20Manifesto&body=Thought%20you%20might%20be%20interested%20in%20this%20http://www.internetofwind.org"><img class="hoverswap" src="img/email_share.png" /></a>
    </div>

    <div class="sharing grid_4 omega"></div>

    <div class="clear"></div>

    <p>Futher, you can go back to the manifesto <a href="/" target="_blank">here</a> and check our <a href="https://github.com/theinternetofwind/manifesto/wiki">Collaborative Roadmap</a>.</p>
  </div>
</section>
