@media only screen {
  #hero {
    h1 {
      margin-top: 0;
    }
    p {
      @include p(1.3em, center);
    }
    .contribution {
      p {
        font-size: 1em;
      }
    }

    .elements {
      margin: 40px auto;
      .element {
        &.first {
          margin: 0 auto 40px auto;
        }
        margin: 40px auto;
        border: 1px dashed $lightGrey;
        padding: 20px;
        .icon {
          text-align: center;
          img {}
        }
        .desc {
          @include p(1.1em, center);
          padding: {
            top: 15px;
            right: 25px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 767px) {
  #hero {
    h1 {
      margin-top: 0;
    }
    p {
      @include p(1.4em, center);
    }
    .contribution {
      p {
        font-size: 1.1em;
      }
    }

    .elements {
      width:80%;
      .element {
        &.first {
          margin: 0 auto 20px auto;
        }
        margin: 20px auto;
        min-height: 100px;
        .icon {
          float: left;
          text-align: left;
          img {}
        }
        .desc {
          @include p(1.2em, left);
          margin: {
            left: 120px;
          }
          padding: {
            top: 15px;
            right: 25px;
          }
        }
      }
    }
  }
}
