#hero {
  img {
    max-width: 100%;
  }

  p {
    font: {
      family: 'Anonymous Pro', monospace;
      size: 1.4em;
    }
    text: {
      align: center;
    }
    line : {
      height: 1.5em;
    }
  }
}
