<section id="hero">
  <div class="container">

    <h1>The Internet of Wind Manifesto</h1>

    <p>We are a global movement united by the belief that the wind sector is driving and is crucial for the whole energy industry. We are convinced that actually a false competition dilemma around data sharing is blocking the natural evolution of the entire industry.</p>

    <img src="img/illustration.jpg" />

    <div class="clear"></div>

  </div>
</section>
