<section id="hero">
  <div class="container">

    <h1>The Internet of Wind Manifesto</h1>

    <p>We are a global movement united by the belief that the wind sector is driving and is crucial for the whole energy industry. We are convinced that actually a false competition dilemma around data sharing is blocking the natural evolution of the entire industry.</p>

    <p>We believe that:</p>

    <div class="elements">

      <div class="element">
        <div class="icon">
          <img src="img/smart_turbine.png" />
        </div>
        <div class="desc">
          In the near future <span class="pBold">wind turbines will be smart, connected and able to talk</span> the same language as people
        </div>
        <div class="clear"></div>
      </div>

      <div class="element">
        <div class="icon">
          <img src="img/unlock.png" />
        </div>
        <div class="desc">
          <span class="pBold">Sharing is better than locking:</span> what is a competitive asset for the individual is a benefit for the whole wind energy industry
        </div>
        <div class="clear"></div>
      </div>

      <div class="element">
        <div class="icon">
          <img src="img/community.png" />
        </div>
        <div class="desc">
          There are no super-heroes. <span class="pBold">Community-generated knowledge is the key</span> to create competitive industry assets
        </div>
        <div class="clear"></div>
      </div>

      <div class="element">
        <div class="icon">
          <img src="img/bubble.png" />
        </div>
        <div class="desc">
          Nobody shares their data and nobody knows why. This is what we call a <span class="pBold">confidentiality bubble</span>
        </div>
        <div class="clear"></div>
      </div>

    </div>

    <p>We want to live in a world where everybody should be free to give their own contribution.</p>

    <p>In order to do this, we need to burst the <a href="/wind_confidentiality_bubble.html">wind data confidentiality bubble</a> and build an <a href="/wind_open_standard.html">open standard for wind turbine data</a> designed around sharing.</p>

  </div>
</section>
