<section id="cta">
  <div class="container">
    <div class="grid_4">&nbsp;</div>
    <div class="grid_4">
      <button class="btn cta__btn">Sign up the manifesto</button>
    </div>
    <div class="grid_4">&nbsp;</div>
  </div>
</section>
