<section id="cta">
  <div class="container">
    <p>If you are with us sign the Internet of Wind Manifesto</p>
    <button onclick="location.href='http://eepurl.com/ccM4lvhttp://windstack.us13.list-manage2.com/subscribe?u=fd2b3e50f606f173eb5c832d2&id=9736400f54&group[9441][1]=1'" class="btn"><div class="layer">Yeah! Just click!</div>Sign the manifesto</button>
  </div>
</section>
