<section id="whoweare">
  <div class="container">
    <h2>The Internet of Wind Manifesto initiators</h2>

    <p>The first draft of the <em><a href="/">Internet of wind manifesto</a></em> (version 0.1) has been written by a group of young professionals from southern Italy, listed here under.</p>
    <p><b>If you are reading this document is because you inspired us and helped us to be here. We asked your contribution and we look forward to have your face here together with ours.</b></p>
    <p>Please contribute also to the text below: </p>
    <p>We want to live in a better world and every day we work to build it.</p>

    <div class="people grid_4 alpha">
      <a href="#"><img src="img/francesco_paraggio_wire.png" /></a>
      <p class="name">Francesco Paraggio, Environmental Engineer, WindStack IVS</p>
    </div>
    <div class="people grid_4">
      <a href="#"><img src="img/giuseppe_aceto_wire.png" /></a>
      <p class="name">Giuseppe Aceto, IT Engineer, WindStack IVS</p>
    </div>

    <div class="people grid_4 omega">
      <a href="#"><img src="img/andrea_paraggio_wire.png" /></a>
      <p class="name">Andrea Paraggio, UX Designer, WindStack IVS</p>
    </div>

    <div class="clear"></div>
  </div>
</section>
