<section id="whoweare">
  <div class="container">

    <p>The first version of the <em>Internet of wind manifesto</em> has been written by a group of young professionals from southern Italy, listed here under. We want to live in a better world and every day we work to build it. We were born in a country where we were given the opportunity to be well prepared and researched in our sectors but traditional methods created barriers in respect to technological innovation. We demand redemption in the name of meritocracy.</p>

    <div class="people grid_4 alpha">
      <a href="#"><img src="img/andrea_paraggio.jpg" /></a>
      <p class="name">Francesco Paraggio, Environmental Engineer, WindStack IVS</p>
    </div>

    <div class="people grid_4">
      <a href="#"><img src="img/andrea_paraggio.jpg" /></a>
      <p class="name">Giuseppe Aceto, IT Engineer, WindStack IVS</p>
    </div>

    <div class="people grid_4 omega">
      <a href="#"><img src="img/andrea_paraggio.jpg" /></a>
      <p class="name">Andrea Paraggio, UX Designer, WindStack IVS</p>
    </div>

    <div class="clear"></div>

    <!--<p class="citation">The answer, my friend, is blowin ‘in the wind</p>
    <p class="citation-author">Bob Dylan</p>-->
  </div>
</section>
