#summary {
  text: {
    align: center;
  }

  .summary__title {
    font: {
      size: 42px;
    }
  }

  .summary__text {
    font: {
      size: 15px;
    }
  }

  .summary__ul {
    font: {
      size: 21px;
    }
    text: {
      align: left;
    }
  }
}
