#summary {
  h1 {
    font: {
      family: 'Anonymous Pro', monospace;
      size: 2.4em;
    }
    text: {
      align: center;
    }
  }

  p {
    font: {
      family: 'Anonymous Pro', monospace;
      size: 1.4em;
    }
    text: {
      align: center;
    }
    line : {
      height 1.5em;
    }
  }

  ul {
    border: 1px solid #ccc;
    font: {
      family: 'Anonymous Pro', monospace;
      size: 1em;
    }
    text: {
      align: left;
    }
    list-style: none;

    padding: {
      left: 10px;

    }

    li {
      margin: {
        bottom: 15px;
      }
    }

    li.odd {
      background: {
        color: #eee;
      }
    }
    li.even {
      background: {
        color: #ccc;
      }
    }
    li.first {
    }
    li.last {
      margin: {
        bottom: 0;
      }
    }
  }
}
