#summary {
  img {
    max-width: 100%;
  }
  
  h1 {
    font: {
      family: 'Anonymous Pro', monospace;
      size: 2.6em;
      weight: normal;
    }
    text: {
      align: center;
    }
  }

  p {
    font: {
      family: 'Anonymous Pro', monospace;
      size: 1.4em;
    }
    text: {
      align: center;
    }
    line : {
      height: 1.5em;
    }
  }

  ul {
    font: {
      family: 'Anonymous Pro', monospace;
      size: 1.4em;
    }
    text: {
      align: left;
    }
  }
}
