<nav id="navigation">
  <div class="container">
    <div id="logo" class="grid_4 alpha">
      Theinternetofwind
    </div>

    <ul id="menu" class="grid_8 omega">
      <li class="first"><a href="#">Manifesto</a></li>
      <li><a href="#">Barriers</a></li>
      <li><a href="#">Sharing</a></li>
      <li><a href="#">Signatories</a></li>
      <li class="last"><a href="#">Who we are</a></li>
    </ul>

    <div class="clear"></div>
  </div>

  <ul id="menu-mobile" class="grid_8 omega">
    <li class="first"><a href="#">Manifesto</a></li>
    <li><a href="#">Barriers</a></li>
    <li><a href="#">Sharing</a></li>
    <li><a href="#">Signatories</a></li>
    <li class="last"><a href="#">Who we are</a></li>
  </ul>
</nav>
