#barriers {
  h2 {
    font: {
      size: 2.2em;
      family: 'Anonymous Pro', monospace;
    }
    text: {
      align: center;
    }
    color: #999;
  }
  .box {
    img {
      max-width: 100%;
    }
    .title {
      font: {
        size:1.2em;
        family: 'Anonymous Pro', monospace;
        weight: bold;
      }
    }
    .desc {
      font: {
        size:1em;
        family: 'Anonymous Pro', monospace;
      }
    }
    .more {
      font: {
        size:1em;
        family: 'Anonymous Pro', monospace;
        weight: bold;
      }
    }
  }
}
