<section id="barriers">
  <div class="container">

    <h2>The state of art of wind sector</h2>

    <div id="bubble" class="box grid_6 alpha">
      <img src="img/bubble.jpg" />
      <h3>The confidentiality bubble</h3>
      <p class="desc">A bubble is a layer between you and the outside world distorting your vision. It can become so large that it shuts out your sight. At the same time it is so easy to dissolve.</p>

      <p>In wind energy there is a huge misunderstanding about data sharing. We mean the sharing of any kind of data output by wind turbines Ex. Scada data, Rotor health monitoring, Continuous monitoring of vibrations, Structural health monitoring, etc</p>

      <p>Is there any reason not to share this data?</p>
      <p>We interviewed dozens of people within this industry and no one gave us a clear reason. Most of them just said "You simply do not give away proprietary data". Some of them were just afraid to show their mistakes in wind farm management.</p>

We believe that showing our mistakes is a treasure for the whole sector.

"Of course companies need to protect critical intellectual property. They should always protect their crown jewels, for example. But companies can't collaborate effectively if all of their IP is hidden. Contributing to the commons is not altruism; it's often the best way to build vibrant business ecosystems that harness a shared foundation of technology and knowledge to accelerate growth and innovation."
Don Tapscott; Anthony D Williams "Wikinomics : how mass collaboration changes everything" New York : Portfolio, 2006. </p>
      <p class="more"><a href="#">More</a></p>
    </div>

    <div id="standard" class="box grid_6 omega">
      <img src="img/standard.jpg" />
      <h3>Missing an open standard</h3>
      <p class="desc">We do not want to reinvent the wheel. We just want to publicly discuss and build shared foundations for this new world. This is only possible by developing open souce platforms and open standards as an alternative to the myriad of proprietary hardware and software platforms developed by all the big players</p>
      <p class="more"><a href="#">More</a></p>
    </div>

    <h3>Sharing is a goldmine</h3>

    <p class="desc">There are multiple examples where sharing proprietary data paid itself. The most famous one is the Goldcorp Inc. This big mining corporation shared it's confidential data and created a crowd-sourced challenge to find new mining sites</p>

    <p class="more"><a href="#">Take a look to cases of success based on sharing of data</a></p>

    <div class="clear"></clear>

  </div>
</section>
