#barriers {
  background: {
    color: #eee;
  }
  .box {
    .title {
      font: {
        size:1.2em;
        family: 'Anonymous Pro', monospace;
        weight: bold;
      }
    }
    .desc {
      font: {
        size:1em;
        family: 'Anonymous Pro', monospace;
      }
      line: {
        height: 1.6em;
      }
    }
    .more {
      font: {
        size: 1em;
        family: 'Anonymous Pro', monospace;
        weight: bold;
      }
    }
  }
}
