<section id="barriers">
  <div class="container">

    <h2 class="grid_12">Barriers</h2>

    <div id="bubble" class="box grid_6 alpha">
      <img src="img/bubble.jpg" />
      <div class="title">
        The confidentiality bubble
      </div>
      <div class="desc">
        <p>A bubble is a layer between you and the outside world distorting your vision. It can become so large that it shuts out your sight. At the same time it is so easy to dissolve. In wind energy there is a huge misunderstanding about data sharing.</p>
      </div>
      <div class="more">
        <a href="#">More</a>
      </div>
    </div>

    <div id="standard" class="box grid_6 omega">
      <img src="img/standard.jpg" />
      <div class="title">
        Missing an open standard
      </div>
      <div class="desc">
        <p>We do not want to reinvent the wheel. We just want to publicly discuss and build shared foundations for this new world. This is only possible by developing open souce platforms and open standards as an alternative to the myriad of proprietary hardware and software platforms developed by all the big players</p>
      </div>
      <div class="more">
        <a href="#">More</a>
      </div>
    </div>

    <div class="clear"></div>

  </div>
</section>
