<section id="justaanother">
  <div class="container">
    <h1>Just a small further step!</h1>

    <p>We just sent you an email. Please check it out and click the link to confirm you are with us!</p>
    <p>If you are not receiving any email please check in the spam or <a href="mailto:hello@internetofwind.org">let us know!</a></p>
    </div>
</section>
