<section id="testimonials">
  <div class="container">

    <h2>Our testimonials</h2>

    <div class="list">

      <div class="testimonial">
        <div class="photo">
          <img src="img/gipe_round.png" />
        </div>
        <div class="text">
          <h3 class="name">Paul Gipe <span class=""></span></h3>
          <p class="phrase">"Sharing wind data to improve performance is a great idea. The community power movement should consider this option."</p>
        </div>
        <div class="clear"></div>
      </div>

    </div>

  </div>
</section>
