<section id="testimonials">
  <div class="container">

    <h2>Our testimonials</h2>

    <div class="list">

      <div class="testimonial">
        <div class="photo">
          <a target="blank" href="http://www.wind-works.org/cms/index.php?id=35"><img src="img/gipe_round.png" /></a>
        </div>
        <div class="text">
          <a target="blank" href="http://www.wind-works.org/cms/index.php?id=35"><h3 class="name">Paul Gipe</h3></a>
          <p class="jobtitle">Author, advocate, and analyst of the renewable energy industry</p>
          <p class="phrase">About IoW manifesto &#8594; "Sharing wind data to improve performance is a great idea. The community power movement should consider this option."</p>
        </div>
        <div class="clear"></div>
      </div>

    </div>

  </div>
</section>
