<section id="testimonials">
  <div class="container">

    <h2>Latest signers</h2>

    <div class="people grid_3 alpha">
      <a href="#"><img src="img/andrea_paraggio.jpg" /></a>
      <div class="name">
        Andrea Paraggio
      </div>
      <div class="position">
        Art Director
      </div>
    </div>

    <div class="people grid_3">
      <a href="#"><img src="img/andrea_paraggio.jpg" /></a>
      <div class="name">
        Andrea Paraggio
      </div>
      <div class="position">
        Art Director
      </div>
    </div>

    <div class="people grid_3">
      <a href="#"><img src="img/andrea_paraggio.jpg" /></a>
      <div class="name">
        Andrea Paraggio
      </div>
      <div class="position">
        Art Director
      </div>
    </div>

    <div class="people grid_3 omega">
      <a href="#"><img src="img/andrea_paraggio.jpg" /></a>
      <div class="name">
        Andrea Paraggio
      </div>
      <div class="position">
        Art Director
      </div>
    </div>

    <div class="people grid_3">
      <a href="#"><img src="img/andrea_paraggio.jpg" /></a>
      <div class="name">
        Andrea Paraggio
      </div>
      <div class="position">
        Art Director
      </div>
    </div>

    <div class="people grid_3">
      <a href="#"><img src="img/andrea_paraggio.jpg" /></a>
      <div class="name">
        Andrea Paraggio
      </div>
      <div class="position">
        Art Director
      </div>
    </div>

    <div class="people grid_3">
      <a href="#"><img src="img/andrea_paraggio.jpg" /></a>
      <div class="name">
        Andrea Paraggio
      </div>
      <div class="position">
        Art Director
      </div>
    </div>

    <div class="people seeall grid_3 omega">
      <a href="#">See all signers</a>
    </div>

    <div class="clear"></div>

  </div>
</section>
