@mixin corners($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin transition($in) {
	transition:$in;
	-webkit-transition:$in;
	-moz-transition:$in;
	-o-transition:$in;
	-ms-transition:$in;
}
