<section id="goldmine">
  <div class="container">

    <h2 class="grid_12 omega">Sharing is a goldmine</h2>

    <div class="desc grid_12 omega">
      There are multiple examples where sharing proprietary data paid itself. The most famous one is the Goldcorp Inc. This big mining corporation shared it's confidential data and created a crowd-sourced challenge to find new mining sites
    </div>

    <div class="more grid_12 omega">
      <a href="#">Take a look to cases of success based on sharing of data</a>
    </div>

    <div class="clear"></clear>

  </div>
</section>
