<section id="confidentialitybubble">
  <div class="container">
    <h1>The Wind Data Confidentiality Bubble</h1>

    <p class="desc">A bubble is a layer between you and the outside world, distorting your vision. It can become so thick that it shuts out your sight. At the same time it is so easy to dissolve.</p>

    <img src="img/wind_confidentiality_bubble.png" />

    <p>In wind energy there is a huge misunderstanding about data sharing. We mean the sharing of any kind of data output by wind turbines e.g. SCADA data, Rotor health monitoring, Continuous monitoring of vibrations, Structural health monitoring, etc.</p>

    <p class="pBold">Is there any reason not to share this data?</p>

    <p>We interviewed dozens of people within this industry and no one gave us a clear reason. Most of them just said "You simply do not give away proprietary data". Some of them were just afraid to show their mistakes in wind farm management.</p>

    <p>We believe that showing our mistakes is a treasure for the whole sector. This is one of the reasons that moved us to write the <a href="/">Internet of Wind Manifesto</a>.</p>

    <div class="citation-box">
      <p class="citation">"Of course companies need to protect critical intellectual property. They should always protect their crown jewels, for example. But companies can't collaborate effectively if all of their IP is hidden. Contributing to the commons is not altruism; it's often the best way to build vibrant business ecosystems that harness a shared foundation of technology and knowledge to accelerate growth and innovation."</p>
      <p class="author"> -- Don Tapscott, Anthony D. Williams @ "Wikinomics : how mass collaboration changes everything" New York : Portfolio, 2006. </p>
    </div>
  </div>
</section>
