#beliefs {
  p {
    font: {
      family: 'Anonymous Pro', monospace;
      size: 1.4em;
    }
    text: {
      align: center;
    }
    line : {
      height: 1.5em;
    }
  }

  ul {
    font: {
      family: 'Anonymous Pro', monospace;
      size: 1.4em;
    }
    text: {
      align: left;
    }
  }
}
