<!DOCTYPE HTML>

  <head>
    <title>The Internet of Wind Manifesto</title>
    <link rel="stylesheet" href="css/vendor/normalize.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/vendor/grid.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/app.css" type="text/css" media="screen">
  </head>

  <script src="http://localhost:35729/livereload.js"></script>

  <body>
    <% include src/components/summary/summary %>

    <% include src/components/cta/cta %>

    <% include src/components/barriers/barriers %>

    <% include src/components/cta/cta %>

    <% include src/components/goldmine/goldmine %>

    <% include src/components/cta/cta %>
  </body>


</html>
