<!DOCTYPE HTML>
<!-- TODO -->
<!-- INSERIRE og:image file e link N.B. Facebook recommends 1200 x 630 pixels for the og:image dimensions (info), which is an approximate aspect ratio of 1.91:1 https://www.h3xed.com/web-and-internet/how-to-use-og-image-meta-tag-facebook-reddit -->
  <head>
    <title>The Internet of Wind Manifesto</title>
    <link rel="stylesheet" href="css/vendor/normalize.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/vendor/grid.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/app.css" type="text/css" media="screen">
    <!-- You  can use Open Graph tags to customize link previews.
Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="http://www.internetofwind.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="The Internet of Wind Manifesto" />
    <meta property="og:description"   content="A false competition dilemma around data sharing is blocking the natural evolution of the entire wind industry. Help us to build a better world." />
    <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />

  </head>

  <script src="http://localhost:35729/livereload.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <script src="/app.js"></script>
  <body>
    <!--<% include src/components/navigation/navigation %>-->

    <% include src/components/hero/hero %>

    <% include src/components/cta/cta %>

    <!-- <% include src/components/barriers/barriers %> -->

    <% include src/components/signatories/signatories %>

    <% include src/components/whoweare/whoweare %>

    <% include src/components/cta/cta %>

  </body>


</html>
