<!DOCTYPE HTML>
<html>
  <head>
    <title>Building a wind energy open standard</title>
    <link rel="stylesheet" href="css/vendor/normalize.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/vendor/grid.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/app.css" type="text/css" media="screen">
    <!-- You  can use Open Graph tags to customize link previews.
Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="http://www.internetofwind.org" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Building a common language for the wind industry" />
    <meta property="og:description"   content="A false competition dilemma around data sharing is blocking the natural evolution of the entire wind industry.We  want to publicly discuss and build shared foundations for this new world." />
    <meta property="og:image"         content="http://internetofwind.org/img/the_internet_of_wind_manifesto_og_language.png" />

  </head>

  <script src="http://localhost:35729/livereload.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <script src="/app.js"></script>

  <body>

    <% include src/components/standard/standard %>
    <% include src/components/contribute/contribute %>
    <% include src/components/footer/footer %>

  </body>


</html>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik-windstack.rhcloud.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik-windstack.rhcloud.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
