<!DOCTYPE HTML>
<!-- TODO -->
<!-- INSERIRE og:image file e link N.B. Facebook recommends 1200 x 630 pixels for the og:image dimensions (info), which is an approximate aspect ratio of 1.91:1 https://www.h3xed.com/web-and-internet/how-to-use-og-image-meta-tag-facebook-reddit -->
<html>
  <head>
    <title>The Wind Confidentiality Bubble</title>
    <link rel="stylesheet" href="css/vendor/normalize.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/vendor/grid.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/app.css" type="text/css" media="screen">
    <!-- You  can use Open Graph tags to customize link previews.
Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="http://www.internetofwind.org" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="The Wind Data Confidentiality Bubble" />
    <meta property="og:description"   content="In wind energy there is a huge misunderstanding about data sharing. We mean the sharing of any kind of data output by wind turbines. Is there any reason not to share this data?" />
    <meta property="og:image"         content="http://internetofwind.org/img/the_internet_of_wind_manifesto_og.png" />

  </head>

  <script src="http://localhost:35729/livereload.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <script src="/app.js"></script>

  <body>
    <!--<% include src/components/navigation/navigation %>-->

    <% include src/components/bubble/bubble %>

    <% include src/components/cta/cta %>

    <!-- <% include src/components/barriers/barriers %> -->

    <% include src/components/signatories/signatories_latest %>

    <% include src/components/whoweare/whoweare %>

    <% include src/components/cta/cta %>

  </body>


</html>
